/* ⚪️ CAROUSEL --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.ad-carousel {
    display: none;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    overflow: hidden;
  }
  
  .ad-carousel.ad-carousel-sidebar {
    display: block;
  }
  
  .ad-carousel a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .ad-carousel a.active {
    transform: translateX(0);
  }
  
  .ad-carousel a.prev {
    transform: translateX(-100%);
  }
  
  .slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--dark);
  }
  
  .footer .ad-carousel 
  {
    display: block;
    height: 150px;
    width: 300px;
    margin-bottom: 0;
  }
  
  /* ⚪️ RESPONSIVE --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  
  
    /* mobile (1 colonne) */
    
    @media screen and (max-width: 600px) {
     
    
    /* ⚪️ CAROUSEL --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    
        .ad-carousel {
            width: 100%;
            display: block;
        }
    
    
    }