.ad-in-page {
    width: 76px;
    height: 76px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 1000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 3px solid #3CB043;
    transition: all 0.2s ease-in-out;
}

.ad-in-page-link {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-in-page-content {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.ad-in-page-sub-content {
    position: absolute;
    bottom: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
}

.ad-in-page-sub-content-icon {
    width: 32px;
    height: 32px;
    position: relative;
}

.ad-in-page-sub-content-text {
    font-size: 8px;
    font-weight: 600;
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #FF0000;
    color: #fff;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
    .ad-in-page:hover .ad-in-page-sub-content {
        transform: scale(1.2);
    }
    .ad-in-page:hover {
        border: 3px solid var(--main-color);
    }
}

@media screen and (max-width: 1024px) {
    .ad-in-page {
        bottom: 64px;
        right: 12px;
    }
}