.cardVideo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cardVideo-image-container {
    position: relative;
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.cardVideo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardVideo-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 800;
    color: #fff;
    background-color: var(--main-color);
    padding: 2px 6px;
    border-radius: 4px;
    z-index: 1;
}

.cardVideo-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 800;
    color: #ffffff;
    background-color: #000;
    padding: 2px 4px;
    border-radius: 4px;
    z-index: 1;
}

.cardVideo-infos {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cardVideo-title {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
}

.cardVideo-date-channel-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.cardVideo-date,
.cardVideo-separator,
.cardVideo-channel {
    font-size: 12px;
    font-weight: 500;
    color: #8b8b8b;
}

.cardVideo-title:hover,
.cardVideo-channel:hover,
.video-channel:hover {
    color: var(--main-color);
}


@media screen and (min-width: 600px) {
    .cardVideo-image-container:hover .preloadLine {
        -webkit-animation: preloadAnimation linear .8s;
        -moz-animation: preloadAnimation linear .8s;
        -ms-animation: preloadAnimation linear .8s;
        -o-animation: preloadAnimation linear .8s;
        animation: preloadAnimation linear .8s;
        -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -ms-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
}

.preloadLine {
    background: var(--main-color);
    left: -100%;
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
    z-index: 2;
}

@keyframes preloadAnimation {
    0% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(100%);
    }
    100% {
        transform: translateY(-2px);
    }
}

.cardVideo-image.preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.1s ease;
    z-index: 1;
}