/* ⚪️ FOOTER --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0 48px 0;
  }
  
  .footer-scroll-to-infinite {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    gap: 12px;
  }
  
  .footer-scroll-to-infinite span {
    text-align: center;
    font-size: 20px;
  }
  
  .footer-logo {
    height: 30px;
    transition: all 0.2s ease;
  }

  .footer-logo img {
    height: 100%;
    width: 100%;
  }
  
  .footer-banner {
    aspect-ratio: 16/9;
    object-fit: cover;
    max-width: 324px;
    border-radius: var(--radius-m);
    border: 1px solid var(--grey);
    margin-top: 24px;
    transition: all 0.2s ease;
  }
  
  .footer-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1196px;
    gap: 24px;
    padding: 48px;
  }
  
  .footer-title {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: var(--white);
  }
  
  .footer-text {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    color: var(--silver);
  }
  
  .footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 24px;
    text-align: center;
  }
  
  .footer-nav-link {
    font-size: 14px;
    font-weight: 800;
    text-transform: none;
    transition: all 0.2s ease;
    white-space: nowrap;
    color: var(--white);
  }
  
  .footer-copyright {
    margin-top: 24px;
    font-size: 12px;
    font-weight: 600;
    color: var(--silver);
  }
  
  /* ÉTATS */
  
  .footer-logo:hover {
    transform: scale(1.05);
  }
  
  .footer-banner:hover {
    border: 1px solid var(--main-color);
  }
  
  .footer-nav-link:hover {
    color: var(--main-color);
  }
  
  
  
  /* ⚪️ RESPONSIVE --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  
  
  @media screen and (max-width: 1024px) {
    .footer {
      padding-bottom: 74px;
    }
  }
  
    /* mobile (1 colonne) */
    
    @media screen and (max-width: 600px) {
     
    
    /* ⚪️ FOOTER --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
        
        .footer-banner {
            width: 248px;
        }
    
        .footer-description {
            padding: 24px;
        }
    
        .footer-title {
            font-size: 18px;
        }
         
    }