.header-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-block: 24px;
}

.logo-header {
    width: auto;
    height: 30px;
}

.logo-header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.menu-link {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.menu-link:hover,
.menu-link[aria-current="page"] {
    color: var(--main-color);
}

.search-bar-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-desktop .search-bar-header {
    margin-left: auto;
}
/* 
.search-bar {
    padding: 10px 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 300px;
} */



/* ⚪️ RESPONSIVE --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* tablette (3 colonnes) */

@media screen and (max-width: 1024px) {


/* ⚪️ HEADER --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

    .header-desktop {
        display: none;
    }
    
}