/* video player */

.player-container-wrapper {
    height: 100%;
    aspect-ratio: 16/9 !important;
}


.player-wrapper {
    position: relative;
    overflow: hidden;
}
  
.player-container {
    position: relative;
    aspect-ratio: 16/9 !important;
    width: 100%;
    height: calc(100vh - 360px); /* Hauteur fixe qui laisse voir la section suivante */
    min-height: 360px;
    max-height: 572px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-player-iframe {
    height: 100%;
    aspect-ratio: 16/9;
}

.video-player {
    aspect-ratio: 16/9;
    height: 100%;
    z-index: 1;
}

.background-video-player {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(30px);
    opacity: 0.5;
}

.video-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 64px;
    margin-top: 24px;
}

.video-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}

.video-date-channel-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
}

.video-date,
.video-separator,
.video-channel {
    font-size: 16px;
    font-weight: 500;
    color: #8b8b8b;
}

.video-date {
    font-size: 14px;
}

.active-video-description:empty {
    display: none;
}
  
.active-video-description {
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    line-height: 1.3;
    color: var(--silver);
}

.video-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.video-category {
    font-size: 14px;
    font-weight: 400;
    color: #8b8b8b;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #1a1a1a;
}

.video-category:hover {
    background-color: #1a1a1a80;
}

@media screen and (max-width: 1080px) {

    .player-container {
        display: block;
        height: auto;
        min-height: auto;
        max-height: auto;
    }

    .video-categories {
        justify-content: flex-start;
    }

}

@media screen and (max-width: 600px) {
    .video-infos {
        align-items: flex-start;
        margin-top: 0px;
        margin-bottom: 32px;
    }
}