/* ⚪️ TABBAR (responsive only) --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.tabbar {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    border-top: 1px solid var(--grey);
  }
  
  .tabbar li {
    justify-content: center;
  }
  
  .tabbar-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 4px;
    white-space: nowrap;
    height: 100%;
    width: 100%;
  }
  
  .tabbar-btn .icon {
    width: 16px;
    height: 16px;
  }
  
  .tabbar-btn-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 12px;
    gap: 0px;
    height: 100%;
    width: 80px;
  }
  
  /* .tabbar-btn-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px 0 0;
    gap: 0px;
    white-space: nowrap;
    height: 100%;
    width: 80px;
  } */
  
  .tabbar-txt {
    font-size: 10px;
    font-weight: 700;
    transition: all 0.2s ease;
  }
  
  
  
  
    /* tablette (3 colonnes) */
    
    @media screen and (max-width: 1024px) {
    
    /* ⚪️ TABBAR --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    
        .tabbar {
            display: grid;
        }
    
    }